
:root {
    --primary-green: #4CAF50;
    --secondary-green: #388E3C;
    --light-green: #C8E6C9;
    --dark-green: #2E7D32;
    --complementary-color-1: #FFC107; /* Amber */
    --complementary-color-2: #FF5722; /* Deep Orange */
    --complementary-color-3: #03A9F4; /* Light Blue */
    --neutral-light: #F5F5F5;
    --neutral-dark: #212121;
    --accent-color: #8BC34A; /* Light Green */
}
