@import url('color-palette.css');

body {
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
}

.header {
    background-color: var(--primary-green);
    color: var(--neutral-light);
}

.button {
    background-color: var(--accent-color);
    color: var(--neutral-dark);
}
